.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    margin: 0%;
}

/* banner style */

header {
    background-image: url(../image/Hero-bg.png);
    height: 700px;
    width: 1440px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;

}


/* nav-logo */
.logo {
    color: #4E47FF;
    font-size: 34px;
    font-weight: 800;
    font-family: inherit;
}

/* nav-button */

.primary-btn {
    color: #ffffff;
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
}

.banner-title {
    color: #252432;
    font-size: 65px;
    margin: 0%;
}

.btn-focus {
    margin-top: 36px;
}

.banner-content {
    text-align: center;
    margin: 300px 265px 150px;
}

/* banner css ends */

/* action style */

.action-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 120px 150px 0px;
}

.action-content {}

.action-description {
    color: rgba(37, 36, 50, 0.5);
    margin: 0 0 20px;
}

.action-title {
    color: #252432;
    font-size: 40px;
    font-weight: bold;

}

.action-image {
    height: 330px;
    width: 400px;
    border: none;
    border-radius: 48px;

}

/* action css end */