.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    margin: 0%;
    max-width: 1440px;
    background-color: #f5f8ff;
}

/* shared style */

.primary-btn {
    color: #ffffff;
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
}

button:hover {
    background-color: darkblue;
    color: bisque;
}

.section-title {
    color: #252432;
    font-size: 40px;
    font-weight: bold;
}

/* banner style */

header {
    background-image: url(../image/Hero-bg.png);
    height: 700px;
    width: 1440px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;

}


/* nav-logo */
.logo {
    color: #4E47FF;
    font-size: 34px;
    font-weight: 800;
    font-family: inherit;
}

/* nav-button */


.banner-title {
    color: #252432;
    font-size: 65px;
    margin: 0%;
}

.btn-focus {
    margin-top: 36px;
}

.banner-content {
    text-align: center;
    margin: 300px 265px 150px;
}

/* banner css ends */

/* main style */

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* action style */

.action-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 120px 150px 0px;
}

.banner-content {
    margin: 60px 160px 60px 0px;
}

.action-description {
    color: rgba(37, 36, 50, 0.5);
    margin: 0 0 20px;
    font-size: 24px;
}

.action-title {
    color: #252432;
    font-size: 40px;
    font-weight: bold;

}

.action-image {
    height: 328px;
    width: 403px;
    border: none;
    border-radius: 48px;

}

/* action css end */

/* user css */

.user {
    background-color: rgba(78, 71, 255, 0.1);
    margin: 110px 150px;
    border: none;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.user-title {
    margin: 50px 150px 0;
}

.user-items {
    display: flex;
    justify-content: space-around;
    gap: 60px;
    margin: 0 140px;
    margin-bottom: 50px;
}

.item-title {
    color: #4E47FF;
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 0%;
}

.item-sub-title {
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    margin-top: 0%;
}

/* user css end */

/* focus section style */

.focus {
    background-color: #ffffff;
    margin: 120px 150px;
    text-align: center;
    border-radius: 30px;
}

.focus-content {
    padding: 70px;
}

.focus-title {
    font-size: 50px;
    font-weight: bold;
}

.focus-desceiption {
    color: rgba(0, 0, 0, 0.5);
}

.focus-image {
    border: none;
    border-radius: 48px;
}

/* touch form  style*/

.touch-column-title {
    font-size: 60px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    color: #4E47FF;
}

.touch {
    margin: 100px 150px 10px;
    display: flex;
    gap: auto;
    justify-content: space-between;
    align-items: center;

}

.touch-column {
    width: 50%;
}


.touch label {
    font-size: 10px;
    font-weight: bold;
    color: #8987A1;
    margin: 10px;


}

.touch input[type="text"],
.touch input[type="email"],
.touch textarea {
    padding: 20px 30px;
    gap: 10;
    border: 1px solid #D6DDED;
    border-radius: 10px;

}

.submit-btn:hover {
    background-color: darkblue;
    color: bisque;
}

.submit-btn {
    width: 55%;
}

/* footer style */

footer ul li {
    list-style: none;
}

footer ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #8987A1;
}

.footer-title {
    color: #4E47FF;
    font-size: 100px;
    font-weight: 800;
    margin-bottom: 0;
}

.footer-description {
    margin-top: 0;
}

footer {
    margin: 0;
    text-align: center;
    padding: 100px 450px;
    color: #8987A1;
    background-color: #ffffff;
}

.footer-items {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
}